@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Satoshi";
}

.container {
  min-height: 100vh;
  height: 100%;
  background-color: rgb(50, 56, 63);
  display: grid;
  place-items: center;
}
